<section id="about-me">
<div class="container">
	<div class="avatar">
		<img class="img-circle" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Profile image">
	</div>
	<h3>
		Hi, I'm {{ site.author }}!
		<br/><br/>

 		I am a Senior Modernization Architect in <a href="www.aws.com" target="_blank">Amazon Web Services</a>. I focus on helping customers to build cloud native applications and also optimize workloads that’s already running on cloud. I contribute to open source projects, write technical blogs and build code samples that can benefit others. I have eight technical certifications, one patent, and I specialize in building applications that can scale across millions of users.

 		<br/><br/> 
		 
		Before joining Amazon, I was a Principal Software engineer at <a href="www.fico.com" target="_blank">FICO</a>, responsible for leading the architecture and development of various enterprise banking solutions like <a href="https://www.fico.com/en/products/fico-origination-manager" target="_blank">Originations manager</a>, <a href="https://www.fico.com/en/products/fico-small-business-scoring-service" target="_blank">LiquidCredit</a> and <a href="https://www.fico.com/en/products/fico-strategy-director" target="_blank">Strategy Director</a>. 
		
		<br/><br/> 
		
		I love smart home products. Recently, I started building my version of digital assistants that can control these smart home products by reverse engineering API calls made through mobile apps. My favorite sports are cricket and badminton, which I enjoy playing with my friends and my hobby is to watch movies.
	</h3>
</div>
</section>
