<section id="about-me">
<div class="container">
	<div class="avatar">
		<img class="img-circle" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Profile image">
	</div>
	<h3>
		Hi, I'm {{ site.author }}!
		<br/><br/>

 		I am a senior software development engineer at Amazon, specializing in building cloud-native, distributed systems that drive innovation and solve complex challenges at scale. At AWS, I led the development of the EMR Managed Scaling service, a flagship solution empowering businesses to auto-scale big data workloads with efficiency, achieving significant cost savings and operational improvements. My work includes designing predictive algorithms that reduced costs by up to 50% and delivering solutions adopted by Fortune 500 clients.
		<br/><br/>
Previously, as a principal engineer at FICO, I spearheaded the modernization of legacy architectures, transitioning enterprise platforms to AWS and Kubernetes. Leading a 40-member team, I delivered scalable, high-performance applications while earning multiple patents, including innovations in database and search systems. My initiatives not only improved system resilience but also accelerated time-to-market and optimized operational efficiency.
		<br/><br/>
Beyond engineering, I am a mentor, thought leader, and advocate for continuous learning. I’ve authored influential technical blogs that have shaped industry best practices and guided teams to deliver impactful solutions aligned with strategic business objectives. Whether optimizing systems for performance or fostering innovation, I am dedicated to creating future-proof architectures that drive meaningful results.
				<br/><br/>		
	</h3>
</div>
</section>
