<section id="projects">
	<div class="container">
		<h3>Open Source</h3>
		<div class="panel panel-default">
			<div class="panel-body">
				<h5>
					<i class="fa fa-github fa-lg"></i>&nbsp;
					<a href="https://github.com/aws/aws-cdk" target="_blank">AWS Cloud Development Kit (CDK)</a>
					- Framework for defining cloud infrastructure in programming languages such as Typescript.
					Contributor to ECS Anywhere construct inside ECS modules part of AWS CDK.
				</h5>
				<h5>
					<i class="fa fa-github fa-lg"></i>&nbsp;
					<a href="https://github.com/aws/copilot-cli" target="_blank">Copilot</a>
					- The AWS Copilot CLI is a tool for developers to build production ready containerized applications on Amazon ECS and AWS Fargate. Contributed support to push images using ecr-credential-helper and ability to stop tasks running under a ECS service.
				</h5>
				<h5>
					<i class="fa fa-github fa-lg"></i>&nbsp;
					<a href="https://github.com/awspring/spring-cloud-aws/pull/95" target="_blank">Spring Cloud AWS</a>
					- Spring Cloud for Amazon Web Services, part of the Spring Cloud umbrella project, eases the integration with hosted Amazon Web Services. Contributed suppport for AWS CloudMap to support service discovery for Spring boot applications.
				</h5>				
				<h5>
					<i class="fa fa-github fa-lg"></i>&nbsp;
					<a href="https://github.com/awslabs/aws-saas-boost"
						target="_blank">AWS SaasBoost</a>
					- AWS SaaS Boost provides organizations with ready-to-use core software elements for successfully running SaaS workloads in the cloud. Contributed by fixing various issues identified after the launch of the product reported in github issues.
				</h5>
				<h5>
					<i class="fa fa-github fa-lg"></i>&nbsp;
					<a href="http://backstage.io/" target="_blank">BackStage Scafffoldings</a>
					- Contributed two scaff folding projects with custom actions
					  <ul> ⭐️ <a target="_blank" href="https://github.com/aws-samples/aws-lambda-extensions/tree/main/cache-extension-demo">AWS SAM template</a> - Scaffolding template for backstage to create AWS SAM based serverless application using python </ul>
					  <ul> ⭐️ <a target="_blank" href="https://github.com/aws-samples/aws-lambda-extensions/tree/main/cache-extension-demo">AWS SSP for EKS</a> - Scaffolding project that can automatically create and deploy applications using ArgoCD in AWS EKS using flux controller</ul>
					</li>
				</h5>
				<h5>
					<i class="fa fa-github fa-lg"></i>&nbsp;
					<a href="https://aws.amazon.com/blogs/aws/getting-started-with-using-your-favorite-operational-tools-on-aws-lambda-extensions-are-now-generally-available/"
						target="_blank">AWS Lambda function</a>
					- Contributed two AWS Lambda extensions
					  <ul> ⭐️ <a target="_blank" href="https://github.com/aws-samples/aws-lambda-extensions/tree/main/cache-extension-demo">Kinesis log extension</a> - Centralizes log aggregation by sending logs from lambda function directly to Kinesis Data Firehose </ul>
					  <ul> ⭐️ <a target="_blank" href="https://github.com/aws-samples/aws-lambda-extensions/tree/main/cache-extension-demo">Cache Extension</a> - Provides a simple caching mechanism for SSM Parameter store for lambda functions.</ul>
					</li>
				</h5>
				<h5>
					<i class="fa fa-github fa-lg"></i>&nbsp;
					<a href="https://github.com/hariohmprasath/amazon-app-runner-deploy" target="_blank">Github action for AWS AppRunner</a>
					- Published a GitHub Action for registering an Amazon AppRunner Service and deploys the application using the source code of a given GitHub repository
				</h5>
			</div>
		</div>
		<h3>Demos & Sample Code</h3>
		<div class="panel panel-default">
			<div class="panel-body">
				<h5>
					<i class="fa fa-github fa-lg"></i>&nbsp;
					<a href="https://github.com/hariohmprasath/unified-log-aggregation-and-analytics" target="_blank">Unified log aggregation and analytics</a>					
					- Approach to unify and centralize logs across different compute platforms like EC2, ECS, EKS and Lambda with Kinesis Data Firehose using log collection agents (EC2 Kinesis agent), log routers (Fluentbit and Firelens) and lambda extension. 
				</h5>
				<h5>
					<i class="fa fa-github fa-lg"></i>&nbsp;
					<a href="https://github.com/aws-samples/aws-ecs-anywhere-workshop-samples" target="_blank">AWS Anywhere Samples</a>
					- Contains the code samples for "ECS Anywhere workshop". The intent of this workshop is to educate users about the ECS-Anywhere and their different use-cases. As part of this workshop we also covering how to set up the ECS-Anywhere, different workload management and observability tools to monitor the ECS-Anywhere cluster.
				</h5>
				<h5>
					<i class="fa fa-github fa-lg"></i>&nbsp;
					<a href="https://github.com/aws-samples/run-selenium-tests-at-scale-using-ecs-fargate" target="_blank">Run selenium tests at scale using ECS Fargate</a>
					- An approach to run integration and regression tests quicker and cheaper to improve the CI/CD process
				</h5>
				<h5>
					<i class="fa fa-github fa-lg"></i>&nbsp;
					<a href="https://github.com/hariohmprasath/distributed-tracing-for-containers-with-x-ray" target="_blank">Distributed tracing using AWS X-ray with custom segments</a>
					- Enable distributed tracing for a microservice-based on spring boot using AWS X-ray. The microservice provided part of the sample uses Dynamodb and Aurora RDS (Mysql) for data persisten
				</h5>
				<h5>
					<i class="fa fa-github fa-lg"></i>&nbsp;
					<a href="https://github.com/hariohmprasath/ecs-event-driven-scaling" target="_blank">ECS Event Based scaling</a>
					- Sample to scale SQS consumers that are deployed in container-based ecosystem using ECS
				</h5>
				<h5>
					<i class="fa fa-github fa-lg"></i>&nbsp;
					<a href="https://ecsworkshop.com/ecsanywhere/" target="_blank">AWS ECS Anywhere workshop</a>
					- Contributor and owner of ECS Anywhere workshop under ecsworkshop.com.
				</h5>
			</div>
		</div>
	</div>
</section>
