<div class="social">
    <table style="width:100%; table-layout: fixed; overflow-wrap: break-word;">
        <tr>
            <td>
                <a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank">
                    <img class="icons-container" src="static/img/linkedin.png">
                    <h5>LinkedIn</h5>
                </a>
            </td>
            <td>
                <a href="https://facebook.com/{{ site.facebook }}" target="_blank">
                    <img class="icons-container" src="static/img/facebook.png"><br />
                    <h5>Facebook</h5>
                </a>
            </td>
            <td>
                <a href="https://twitter.com/{{ site.twitter }}" target="_blank">
                    <img class="icons-container" src="static/img/twitter.png"><br />
                    <h5>Twitter</h5>
                </a>
            </td>
            <td>
                <a href="https://github.com/{{ site.github }}" target="_blank">
                    <img class="icons-container" src="static/img/github.png"><br />
                    <h5>GitHub</h5>
                </a>
            </td>
            <td>
                <a href="https://{{ site.medium }}.medium.com" target="_blank">
                    <img class="icons-container" src="static/img/medium.png"><br />
                    <h5>Medium</h5>
                </a>
            </td>
            <td>
                <a href="mailto::{{ site.email }}" target="_blank">
                    <img class="icons-container" src="static/img/email.png"><br />
                    <h5>Email</h5>
                </a>
            </td>
        </tr>
    </table>
</div>
